@using CTSImp1.ViewModels;
@using CTSImp1.Models;
@model TrackingViewModel
@{
    ViewBag.Title = "AttachmentsPV";
    Layout = "";
}
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblupldCat", "Category:")
            @Html.DropDownListFor(m => m.documentsInfom.attachment_type, new SelectList((IEnumerable<CTSCodeTable>)ViewData["Category"], "short_description", "short_description"), "---Select One--", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group form-group-sm">
            <table style="border-collapse: collapse; border-spacing: 0;">
                <tr>
                    <td style="padding: 0px; width: 5%; border-top-left-radius: 5px;">
                        <div class="fileUpload" style="float: left">
                            <span class="Browse">Select File</span>
                            <input id="COIBtn" name="files" type="file" class="upload" />
                        </div>
                    </td>
                    <td style="padding: 0; width: 100%;">
                        <input id="UploadCOI" placeholder="0 files selected">
                    </td>
                    <td style="padding: 0 0 0 8px;">
                        <input type="submit" class="btn btn-primary btn-sm" formaction="SaveAttachmentsInfo" value="Upload">
                        @*<asp:button id="Button5" runat="server" text="Upload" cssclass="btn btn-primary btn-sm" />*@
                    </td>
                </tr>
            </table>
            <script>
                                            document.getElementById("COIBtn").onchange = function () {
                                                document.getElementById("UploadCOI").value = this.value;
                                            };
            </script>
        </div>
    </div>
   
</div>
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <tr>
                    <th style="border-top: 0px solid #136073;">Date</th>
                    <th style="border-top: 0px solid #136073;">File Name</th>
                    <th style="border-top: 0px solid #136073;">Upload by</th>
                    <th style="border-top: 0px solid #136073;">Delete</th>
                </tr>
                <tr></tr>
                <tr></tr>
            </table>
        </div>
    </div>
</div>
}