@model CTSImp1.Models.UserInfo
@{
    ViewBag.Title = "WelcomeSearchPV";
    Layout = "";
}


        <!--Welceom Bar with Search filter start-->
        <div class="row gradientgray well">
            <div class="col-md-8 col-xs-3 ">
                @{
                    var fullName = Model.first_name + " " + Model.last_name;
                    <label> @Html.DisplayFor(model => fullName)</label>                }

            </div>
            <div class="col-md-4 col-xs-9 text-right">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="search_concept" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#TicketNo">Ticket No.</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" class="form-control" aria-label="..." placeholder="Search term..." />
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
            <!--Welceom Bar with Search filter ends-->
